@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #2e2e2e;
	font-family: 'Nunito', sans-serif;
}

.prehead {
	height: 271px;
	width: 100%;
	background: #515151;
	position: absolute;
}

.container {
	max-width: 1500px;
	margin: auto;
	position: relative;
}

.head {
	background: #515151;
	color: #aaaaaa;
	font-size: 30px;
	height: 170px;
	padding: 50px;
}

.head a {
	text-decoration: none;
	color: #8e8e8e;
}

.head a:hover {
	text-decoration: underline;
}

.head .head-link {
	text-align: right;
}

.head .head-link ul {
	list-style: none;
}

.head .head-link li {
	margin-top: 27px;
}

.card {
	background: #3f3f3f;
	margin-top: 70px;
	border-radius: 25px;
	padding: 35px 40px;
	font-size: 23px;
	color: #8e8e8e;
	transition: all 0.5s ease;
}

.card p {
	margin-bottom: 40px;
	margin-left: 10px;
}

.card h2 {
	font-size: 44px;
	color: #aaaaaa;
	margin-bottom: 25px;
}

.card ul {
	list-style: none;
	margin-left: 30px;
}

.card li {
	border-bottom: 1px solid #8e8e8e;
	margin-top: 20px;
}

#c2 {
	padding-bottom: 400px;
}

.foot {
	margin-top: 70px;
	padding: 150px;
	background: #1f1f1f;
	text-align: center;
	font-size: 25px;	
	color: #6a6a6a;
}

.card:hover	{
	background: black;
	color: white;
}
